@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?c4uajy');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?c4uajy#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?c4uajy') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?c4uajy') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?c4uajy##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icomoon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user {
  &:before {
    content: $icon-user; 
  }
}

